body {
  margin: 0px;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 16px;
}

.logo {
  margin-bottom: 33px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.logo a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 540;
  text-align: center;
}
.icon-back {
  position: absolute;
  left: 30px;
}
.icon-cart {
  position: absolute;
  right: 30px;
}

.tab {
  padding-right: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.current {
  border-bottom: 2px solid #000;
}
nav .tabContainer a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
}
nav .tabContainer a:active {
  background-color: #c5cad3;
}

button {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #000;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 8px 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

button:focus {
  background-color: #c5cad3;
}

button:active {
  background-color: #000;
  color: #fff;
}

.content,
.outerwear,
.item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
h2 {
  font-size: 15px;
  font-weight: 505;
}

.tshirts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  row-gap: 0px;
  align-items: center;
}
.tItem {
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.ig {
  width: 720px;
  height: 320px;
  object-fit: none;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.made {
  text-align: center;
  color: #7d7e81;
  padding: 10px;
}
.demo {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

/* mens_outwear */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.wearKind {
  font-size: 17px;
  font-weight: 505;
}
.total-items {
  color: rgb(99, 93, 93);
}
.grid-item {
  padding-right: 70px;

  padding-left: 70px;
}
.product {
  width: 300px;
  padding: 40px;
  object-fit: none;
}
.grid-item > a {
  text-decoration: none;

  text-align: center;
}
.product + figcaption {
  color: black;
  font-size: 13px;
  font-weight: 550;
}

figcaption ~ figcaption {
  color: grey;
}

/* Product detail */

.product-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
}
.image-container,
.details-container {
  padding: 40px;
}

.price {
  color: grey;
  font-size: 16px;
  margin-bottom: 50px;
}
.option-container {
  display: flex;
  padding: 10px 0px;
  border-top: 1px solid #ccc;
  height: 20px;
}
.option-container ~ .option-container {
  border-bottom: 1px solid #ccc;
}
#labels {
  color: #757575;
  flex: 2;
  /* left: 0px; */
  padding-right: 20px;
  width: 30px;
}
#select {
  flex: 16;
  font-size: 16px;
  background-color: white;
  border: none;
  white-space: nowrap;
}

.product-name {
  font-size: 23px;
  font-weight: 500;
}
.desc {
  margin-top: 25px;
  font-size: 13px;
  font-weight: 550;
}

.desc-text {
  color: grey;
  font-size: 12.5px;
}
.add-to-cart {
  margin-top: 30px;
}

/* cart */

.cart-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 16px;
  font-weight: 520;
}

.cart-items {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 90%;
}
.cart-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding-bottom: 20px;
}
.cart-image {
  width: 100px;
  height: 100px;
}
.total-checkout {
  margin-left: 550px;
  align-self: center;
}
.total {
  padding: 40px;
}

/* Checkout Page  */

.checkout-name {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.checkout-container {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 100px;
}

.right-side,
.left-side {
  flex: 1;
  width: 50%;
}

.info-category {
  display: flex;
  flex-flow: column wrap;
}
.state-zip {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
input {
  margin-top: 30px;
}
h3 + input {
  margin-top: 0px;
}
h3 {
  margin-top: 40px;
}
.state-zip {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
}
.text-input {
  font-size: 18px;
  border: none;
  width: 100%;
  border-bottom: 0.2px solid rgb(207, 205, 205);
}
.cart-no-border {
  border-top: none;
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}

.cart-no-border > #select {
  width: 100%;
  border-bottom: 0.2px solid rgb(207, 205, 205);
}

input:focus {
  outline: none;
}
.billing-address {
  margin-top: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.card-name {
  display: flex;
  flex-flow: column;
}
.card-date{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  column-gap: 20px;
}
.expiry{
  margin-top: 20px;
}
.card-select{
  font-size: 18px;
  background-color: white;
  border: none;
  width: 100%;
  color: grey;
  border-bottom: .2px solid rgb(207, 205, 205);
}
.order-summary {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 50px;
  font-size: 12px;
}
.order-summary > div {
  padding-bottom: 12px;
}

/* * {
      border: 1px solid red;
    } */
